[v-cloak] {
  display: none;
}
body {
  background: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  letter-spacing: 1.05px;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
